@import "../basic/var.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pr1{
  padding-right: 1rem;
}

.icon{
  height: 1rem;
  width: auto;
}

.link{
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 5px 15px;
  transition: 0.15s ease-in;
  border-radius: 30px;
  

  &:visited{
    color: black;
  }

  &:hover,
  &:active{
    background-color: $color-grey;
    padding: 5px 15px;
    border-radius: 30px;
  }
}

button{
  cursor: pointer;
  font-weight: 700px;
  font-size: 1rem;

  padding: 10px 20px;
  border-radius: 30px;
  width: 48%;
  font-weight: bold;
  border: none;
  transition: 0.15s ease-in;

  background-color: $color-grey;

  &:hover{
    background-color: #e7e7e7;
  }

}

.button--green{
    background: $color-green;
    color: white;
    text-shadow: 0px 0px 2px #000000;

    &:hover{
      background-color: $color-green;
    }
}

.bold1r{
  font-weight: bold;
  font-size: 1.5rem;
}

.pointer{
  cursor: pointer;
}
