@import "../basic/var.scss";

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 2rem;
    margin-inline: 2rem;
    .link{
      text-decoration: none;

      &::after{
        color: black;
      }
    }
  }


  div{
    margin-left: 2rem;
  }

  span{

    i{
    color: $color-green;
    }
  }

 

  img {
    height: 32px;
    width: auto;
  }
}
