@import "../basic/var.scss";

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;
  background-color: white;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-right: 2rem;
    margin-inline: 2rem;

    #burger-menu {
      cursor: pointer;
      transition: 0.15s ease-in;
      border-radius: 30px;

      &:hover,
      &:active {
        background-color: $color-grey;
        border-radius: 30px;
      }
    }
  }

  div {
    margin-left: 2rem;
  }

  span {
    i {
      color: $color-green;
    }
  }

  img {
    height: 32px;
    width: auto;
  }
}

#open-menu {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
}

@media (max-width: 1025px) {
  header {
    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 40%;
      margin-right: 2rem;
      margin-inline: 2rem;
    }
  }
}
