@import "../basic/var.scss";

h1 {
  font-size: 3rem;
  font-weight: 700;
  width: 80%;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  width: 80%;
}

main {
  height: 100vh;
  width: 100vw;
}

.first-section {
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-start;
}

.eyecatcher {
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;

  @at-root #{&}__left {
    background-color: $color-grey;
  }

  @at-root #{&}__right {
    background: $color-green;
    background: -moz-linear-gradient(279deg, $color-green 80%, $color-grey 80%);
    background: -webkit-linear-gradient(
      279deg,
      $color-green 80%,
      $color-grey 80%
    );
    background: linear-gradient(279deg, $color-green 80%, $color-grey 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8e45c",endColorstr="#e7e7e7",GradientType=1);

    .main-img {
      transform: translate(5%, 20%);
      height: 40%;
      width: auto;
    }

    .logo-text {
      transform: translate(5%, 100%);
      font-size: 2rem;
      font-weight: 700;

      i {
        color: $color-green;
        text-shadow: 0px 0px 3px #000000;

        color: white;
      }
    }
  }
}

@media (max-width: 1025px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .first-section {
    height: 80vh;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .m-f-row {
    flex-direction: column;
  }

  .eyecatcher {
    @at-root #{&}__right {
      height: 60%;
      background: $color-green;
      background: -moz-linear-gradient(
        353deg,
        $color-green 75%,
        $color-grey 75%
      );
      background: -webkit-linear-gradient(
        353deg,
        $color-green 75%,
        $color-grey 75%
      );
      background: linear-gradient(353deg, $color-green 75%, $color-grey 75%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8e45c",endColorstr="#e7e7e7",GradientType=1);
    }

    @at-root #{&}__left {
      padding-top: 10%;
    }
  }
}

@media (max-width: 600px) {
  .eyecatcher {
    @at-root #{&}__left {
      padding-top: 20%;
    }
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}
