@import "../basic/var.scss";
@import "../basic/var.scss";

h1 {
  font-size: 2rem;
  font-weight: 800;
  width: 80%;
  line-height: 1.3;
  margin-bottom: 5px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: $color-green;
}

main {
  width: 100vw;
}

.first-section {
  height: 80vh;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-start;
}

.eyecatcher {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  h2 {
    font-size: 1.5rem;
    width: 80%;
    margin-bottom: 20px;
    color: black;
  }

  @at-root #{&}__left {
    background-color: $color-grey;
  }

  @at-root #{&}__right {
    background: $color-green;
    background: -moz-linear-gradient(279deg, $color-green 80%, $color-grey 80%);
    background: -webkit-linear-gradient(
      279deg,
      $color-green 80%,
      $color-grey 80%
    );
    background: linear-gradient(279deg, $color-green 80%, $color-grey 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8e45c",endColorstr="#e7e7e7",GradientType=1);

    .main-img {
      transform: translate(5%, 20%);
      height: 40%;
      width: auto;
    }

    .logo-text {
      transform: translate(5%, 100%);
      font-size: 2rem;
      font-weight: 700;

      i {
        color: $color-green;
        text-shadow: 0px 0px 3px #000000;

        color: white;
      }
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 2.5rem;
  width: 80%;

  background-color: white;

  border: solid black 1px;
  border-radius: 30px;

  transition: 0.3s ease;

  &:hover {
    background-color: $color-grey;
  }

  .__input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      flex-grow: 3;
    }

    input {
      background-color: rgba(255, 255, 255, 0);
      width: 100%;
      padding-block: 10px;
      padding-left: 20px;
      border: none;
      &:focus-visible {
        outline: none;
      }
    }
  }

  .cancel-icon-container {
    cursor: pointer;
    margin-inline: 15px;

    img {
      transform: translateY(15%);
    }
  }
  .cancel-icon-container {
    img {
      height: 0.65rem;
      transform: translateY(-15%);

      border-radius: 100%;
      outline: 2px solid #000000;
      outline-offset: 1px;
    }
  }

  .search-icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
    border-radius: 30px;
    height: 2rem;
    width: 4.5rem;
    margin-right: 3px;
    color: white;
    font-weight: bold;

    img {
      height: 60%;
      filter: brightness(0) invert(1);
    }
  }
}

.card-simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 15rem;
  padding: 10px 20px;

  h5 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 90%;
    text-align: center;
  }

  p {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 85%;
  }
  div {
    display: flex;
    justify-content: center;
    min-height: 3rem;
    margin-bottom: 1.5rem;
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(89%) sepia(94%) saturate(381%) hue-rotate(19deg)
      brightness(87%) contrast(107%);
  }
}

// Small screens // laptops

@media (max-width: 1025px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  section {
    margin-bottom: 7rem;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .m-f-row {
    flex-direction: column;
  }

  .eyecatcher {
    @at-root #{&}__right {
      height: 60%;
      background: $color-green;
      background: -moz-linear-gradient(
        353deg,
        $color-green 75%,
        $color-grey 75%
      );
      background: -webkit-linear-gradient(
        353deg,
        $color-green 75%,
        $color-grey 75%
      );
      background: linear-gradient(353deg, $color-green 75%, $color-grey 75%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8e45c",endColorstr="#e7e7e7",GradientType=1);
    }

    @at-root #{&}__left {
      padding-top: 10%;
    }
  }
}

// Mobiles

@media (max-width: 600px) {
  .first-section {
    height: 100vh;
  }

  .eyecatcher {
    flex-wrap: wrap;

    @at-root #{&}__left {
      padding-top: 20%;
      align-content: flex-start;
      padding-left: 2rem;
    }
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}
